@media screen and (max-width: 600px) {
	body, html{
		width: 100%;
		height: 100%;
	}
	#bienvenida .btn-bienvenida{
		width: 90%;
		height: 1em;
		padding: .7em 0;
		margin: 1em 0!important;
	}
	#bienvenida .btn-bienvenida span{
		margin: 0;
	}
}