@media screen and (max-width: 600px) {
	body, html{
		width: 100%;
		height: 100%;
	}
	#bienvenida .btn-bienvenida{
		width: 5em;
		height: 3em;
		background: rgba(75, 198, 162, .7);
		margin: 4em 1em!important;
	}
}